:root {
    --black: #131619;
    --orange: #F96000;
    --dark-orange: #AE4300;
    --gray: #EFF1F7;
}


body {
    font-family: "Roboto", sans-serif;
    color: var(--black);
}

.wrapper {
    width: 750px;
    position: relative;
}

.title {
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 8px;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.legend {
    margin-bottom: 20px;
}

.legend > * {
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
}

.legend-title {
    font-weight: 700;
    font-size: 14px;
    margin-right: 14px;
}

.legend-label {
    margin-right: 10px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 4px;
}

.gray-circle {
    border: 0.5px solid var(--black);
    background-color: var(--gray);
}

.dark-orange-circle {
    border: 0.5px solid var(--orange);
    background-color: var(--orange);
}

.source {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    margin-top: 21px;
}

.tooltip {
    position: absolute;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 16px 8px;
    font-size: 14px;
    display: none;
    background-color: #FFF;
    max-width: 175px;
}

.tooltip p {
    margin: 0;
}

.tooltip p.mb {
    margin-bottom: 12px;
}

.tooltip p.country {
    color: var(--dark-orange);
    font-weight: 700;
}

.tooltip p.bold {
    font-weight: 700;
}

.axis text {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 14px;
    color: var(--black);
    opacity: 0.4;
}

.axis line {
    stroke: var(--black);
    stroke-width: 0.5px;
    opacity: 0.4;
}

.tooltip-circle,
.average-line {
    pointer-events: none;
}