:root {
    --black: #131619
}


body {
    font-family: "Roboto", sans-serif;
    color: var(--black);
}

.wrapper {
    width: 750px;
}

.title {
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 8px;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.source {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.axis text {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 14px;
    color: var(--black);
    opacity: 0.4;
}

.axis line {
    stroke: var(--black);
    stroke-width: 0.5px;
    opacity: 0.4;
}