:root {
    --black: #131619;
    --dark-orange: #AE4300;
}


body {
    font-family: "Roboto", sans-serif;
    color: var(--black);
}

.wrapper {
    width: 750px;
    position: relative;
}

.title {
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 8px;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.source {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.tooltip {
    position: absolute;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 16px 8px;
    font-size: 14px;
    display: none;
    background-color: #FFF;
}

.tooltip p {
    margin: 0;
}

.tooltip p.value {
    margin-bottom: 12px;
}

.tooltip p.country {
    color: var(--dark-orange);
    font-weight: 700;
}

.axis text {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 14px;
    color: var(--black);
    opacity: 0.4;
}

.axis line {
    stroke: var(--black);
    stroke-width: 0.5px;
    opacity: 0.4;
}

.tooltip-circle,
.average-line {
    pointer-events: none;
}